form {
  position: relative;
  top: auto;
  max-width: 450px;
  margin: 0 auto 20px;
}

.form_main {
  width: 100%;
}

.f1t-form-field {
  padding-bottom: 10px;
}

.f1t-form-field__label {
  display: none;
}

.f1t-form__submit {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  border: 0 solid #e5e7eb;
  border-radius: 8px;
  background: #7ed321;
  border-radius: 20px;
  padding: 15px;
  font-size: 20px;
  box-shadow: 0px 4px 0px #69b31f, 0px 254px 102px rgba(6, 26, 45, 0.01),
    0px 143px 86px rgba(6, 26, 45, 0.05), 0px 63px 63px rgba(6, 26, 45, 0.09),
    0px 16px 35px rgba(6, 26, 45, 0.1), 0px 0px 0px rgba(6, 26, 45, 0.1);
  margin-top: 20px;
}

.f1t-form-field {
  position: relative;
}

.f1t-form-field__error {
  font-size: 12px;
  margin-top: 5px;
}

.f1t-form-field label {
  display: block;
}

.f1t-form-field input {
  display: block;
  width: 100%;
  border: solid 1.2px var(--color-bg-3, #b1b5be);
  border-radius: 4px;
  background: var(--color-bg-quiz, #fff);
  outline: none;
  height: 60px;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 12px;
  color: #0f172a;
}

.f1t-form-field input:focus {
  border-color: rgb(0, 195, 255);
}

.f1t-form-field input::placeholder {
  opacity: 1;
}

.iti__selected-flag {
  border-radius: 0;
}

.f1t-form-field--error input,
.f1t-form-field--error textarea,
.f1t-form-field--error select {
  border-color: red;
}

.f1t-form-field--phone input {
  padding-right: 6px;
  padding-left: 52px;
}

.f1t-modal__text h3 {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.f1t-modal__text p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

@media (max-width: 575px) {
  .f1t-modal__text h3 {
    font-size: 20px;
  }

  .f1t-modal__text p {
    font-size: 14px;
  }
}
